{% extends 'FreeNet/index.html' %}

<html>
    <style>
    
    .main
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

.masege
{
    padding: 5px;
    margin: 10px;
    border: solid 1px black;
}

    </style>

{% block content %}
<div class="main">

{% for posts in post %}
<h1></h1>
    {{ posts.author }}
    {{ posts.hesh }}
    {{ posts.title }}
    {{ posts.text }}
    {{ posts.published_date }}
    {{ posts.like }}

{% endfor %}
    <div class="masege">
        
{% for maseg in maseges %}

    <div class="masege">
      <h1>  {{ maseg.text }}  {{maseg.author}} {{maseg.date}}</h1>
    </div>
{% endfor %}
</div>

<!-- <form method="POST" class="masege-form">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save bth btn-defolt">Save</button>
</form> -->

</div>
{% endblock %}