.header{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    @include spase-bt();
    position: fixed;
    background: white;
    z-index: 2;
    width: 100%;
    &__left-sidebar{
    width: 25%;
    }
    &__menu{
    margin-top: 4px; 
    margin-bottom: 7px;

    @include h-w(50px, 50%);

    @include spase-bt();

    &__navigation{
        width: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center; 
        &-timeline{
        width: 50px;
        }
        &-channels{
        width: 50px;
        }
    }

    &__person{
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;          
        &-search{
            width: 50px;
        }
        &-settings{
            width: 50px;
        }
        &-account{
            width: 50px;
        }
        }
    }
    &__right-sidebar{
    width: 25%;
    }
}